.dialog-pane {
    -fx-background-color: black;
    -fx-border-color: linear-gradient(red, DODGERBLUE);
    -fx-border-width: 3;
}
 
.dialog-pane .label {
    -fx-text-fill: white;
}
 
.dialog-pane:header .header-panel {
    -fx-background-color: black;
    -fx-text-color: white;
}
 
.button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, red, DODGERBLUE);
}
 
 
 

